/*from 1024px to 1200px*/
@media only screen and (max-width:1200px) {
  .row {
    padding: 0 8%;
  }

  .header3 {
    padding-bottom: 55%;
    width: 100%;
  }

  .section-3 {
    padding-bottom: 70%;
  }
}

/*from 768 to 1023px*/
@media only screen and (max-width: 1023px) {
  body {
    font-size: 15px;
  }

  .header3 {
    font-size: 75%;
    padding-bottom: 50%;
  }

  .title-info {
    font-size: 85%;
  }

  .section-3 {
    font-size: 75%;
    padding-bottom: 110%;
  }

  .section-4 {
    font-size: 75%;
  }

  .footer-number {
    padding-right: 5%;
  }

  .owner {
    padding-right: 5%;
  }

  .social-links {
    font-size: 15px;
    padding-left: 10px;
  }
}

/*from 481 to 767px*/
@media only screen and (max-width: 767px) {
  .col {
    width: 100%;
    margin: 0% 0 4% 0%;
  }

  .main-nav {
    display: none;
  }

  .mobile-nav-icon {
    display: inline-block;
    position: relative;
    z-index: 9999;
  }

  .main-nav {
    float: none;
    position: absolute;
    z-index: 8888;
    width: 100%;
    height: 100vh;
    margin: 0;
    margin-left: -2%;
    background-color: rgba(62, 136, 139, 0.92);
    text-align: center;
    padding-top: 20vh;
  }

  .main-nav li {
    display: block;
    margin-right: 40%;
    font-size: 100%;
    text-align: center;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }

  .header3 {
    font-size: 55%;
  }

  .logo-main {
    height: 90px;
    width: auto;
  }

  .title-info {
    font-size: 65%;
  }

  .section-3 {
    font-size: 55%;
    padding-bottom: 110%;
  }

  .skill-format .skills {
    padding: 0% 0% 0% 0%;
  }

  .section-4 {
    padding-bottom: 190%;
    font-size: 12px;
  }

  .footer-nav {
    font-size: 12px;
  }

  @media only screen and (max-width: 480px) {
    .header3 {
      font-size: 85%;
    }

    .section-3 {
      font-size: 70%;
    }

    .section-4 {
      font-size: 72%;
    }
  }