* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/*HEADER SECTION*/
.header1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Source/images/portfolio2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

section {
  padding: 80px 0;
}

.logo-main {
  height: 100px;
  width: auto;
  margin-top: 55px;
  float: left;
}

.main-nav {
  margin-top: 55px;
}

.main-nav li {
  list-style: none;
  float: right;
  margin: 20px;
  display: inline-block;
  margin-left: 40px;
}

.main-nav li:first-child {
  background-color: green;
  padding: 2px 3px;
  border-radius: 50px;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  padding: 8px 0;
  text-transform: uppercase;
  font-size: 85%;
  color: #fff;
  border-bottom: transparent;
  transition: border 0.5s;
}

.main-nav li a:hover {
  border-bottom: solid #000;
}

.main-nav li a {
  text-decoration: none;
}

.main-nav .nu a:hover {
  border-bottom: none;
}

h1 {
  font-size: 240%;
}

h1, h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  word-spacing: 4px;
}

h3 {
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  font-size: 110%;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  color: solid #a19382;
  font-weight: 300;
  text-transform: uppercase;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #000;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 25px;
}

.title-info {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.par-1 {
  color: #fff;
  word-spacing: 5px;
  line-height: 1.6;
}

/*Second html page formatting*/
.header2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Source/images/portfolio1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.aim {
  background-color: #ff7400;
}

.par-2 {
  word-spacing: 5px;
  line-height: 1.6;
  padding-right: 15px;
}

.ruse-img {
  width: 80%;
  padding-top: 10px;
  border-radius: 25%;
}

.varna-img {
  width: 80%;
  margin-top: 45%;
  border-radius: 25%;
}

.study-place {
  margin-top: 23%;
  word-spacing: 5px;
  line-height: 1.6;
}

.footer {
  padding: 50px;
  font-size: 80%;
  background-color: #333;
  color: #fff;
}

.owner-name {
  padding-right: 10px;
}

.number a {
  text-decoration: none;
  color: #ff7400;
}

.email {
  color: #ff7400;
}

.email-p {
  padding-right: 10px;
}

.social-links li {
  display: inline-block;
}

.ion-social-twitter,
.ion-social-facebook,
.ion-social-googleplus {
  font-size: 160%;
  list-style: none;
  padding-left: 40px;
  transition: color 0.3s;
}

.social-links li a:link,
.social-links li a:visited {
  color: #888;
}

.ion-social-twitter:hover {
  color: #1da1f2;
}

.ion-social-facebook:hover {
  color: #3b5998
}

.ion-social-googleplus:hover {
  color: #ea4335;
}

/*Third page portfolio formatting*/
.header3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Source/images/portfolio3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.section-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Source/images/skills.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.line1::after {
  display: block;
  height: 20px;
  content: "50%";
  background-color: #2ecc71;
  width: 250px;
  text-align: center;
}

.line2::after {
  display: block;
  height: 20px;
  content: "60%";
  background-color: #2ecc71;
  width: 275px;
  text-align: center;
}

.line3::after {
  display: block;
  height: 20px;
  content: "5%";
  background-color: #2ecc71;
  width: 30px;
  text-align: center;
}

.line4::after {
  display: block;
  height: 20px;
  content: "40%";
  background-color: #2ecc71;
  width: 210px;
  text-align: center;
}

.line5::after {
  display: block;
  height: 20px;
  content: "30%";
  background-color: #2ecc71;
  width: 200px;
  text-align: center;
}

.skills {
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  padding-left: 75%;
}

.skill-format {
  padding-top: 15px;
}

.section-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Source/images/experience.jpg);
  background-size: cover;
  height: 200vh;
  background-position: center;
  background-attachment: fixed;
}

.company {
  color: #fff;
  text-align: center;
}

.para-1 {
  padding-right: 100px;
  text-align: center;
}

.mobile-nav-icon {
  float: right;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
  padding-top: 500%;
}