* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/*HEADER SECTION*/
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/images/portfolio2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

section {
  padding: 80px 0;
}

.logo-main {
  height: 100px;
  width: auto;
  margin-top: 55px;
  float: left;
}

.main-nav {
  margin-top: 55px;
}

.main-nav li {
  list-style: none;
  float: right;
  margin: 20px;
  display: inline-block;
  margin-left: 40px;
}

.main-nav li:first-child {
  background-color: green;
  padding: 2px 3px;
  border-radius: 50px;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  padding: 8px 0;
  text-transform: uppercase;
  font-size: 85%;
  color: #fff;
  border-bottom: transparent;
  transition: border 0.5s;
}

.main-nav li a:hover {
  border-bottom: solid #000;
}

.main-nav li a {
  text-decoration: none;
}

.main-nav .nu a:hover {
  border-bottom: none;
}

h1 {
  font-size: 240%;
}

h1, h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  word-spacing: 4px;
}

h3 {
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  font-size: 110%;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  color: solid #a19382;
  font-weight: 300;
  text-transform: uppercase;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #000;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 25px;
}

.title-info {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.par-1 {
  color: #fff;
  word-spacing: 5px;
  line-height: 1.6;
}

/*Second html page formatting*/
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/portfolio1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.aim {
  background-color: #ff7400;
}

.par-2 {
  word-spacing: 5px;
  line-height: 1.6;
  padding-right: 15px;
}

.ruse-img {
  width: 80%;
  padding-top: 10px;
  border-radius: 25%;
}

.varna-img {
  width: 80%;
  margin-top: 45%;
  border-radius: 25%;
}

.study-place {
  margin-top: 23%;
  word-spacing: 5px;
  line-height: 1.6;
}

.footer {
  padding: 50px;
  font-size: 80%;
  background-color: #333;
  color: #fff;
}

.owner-name {
  padding-right: 10px;
}

.number a {
  text-decoration: none;
  color: #ff7400;
}

.email {
  color: #ff7400;
}

.email-p {
  padding-right: 10px;
}

.social-links li {
  display: inline-block;
}

.ion-social-twitter,
.ion-social-facebook,
.ion-social-googleplus {
  font-size: 160%;
  list-style: none;
  padding-left: 40px;
  transition: color 0.3s;
}

.social-links li a:link,
.social-links li a:visited {
  color: #888;
}

.ion-social-twitter:hover {
  color: #1da1f2;
}

.ion-social-facebook:hover {
  color: #3b5998
}

.ion-social-googleplus:hover {
  color: #ea4335;
}

/*Third page portfolio formatting*/
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/portfolio3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.section-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/skills.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
}

.line1::after {
  display: block;
  height: 20px;
  content: "50%";
  background-color: #2ecc71;
  width: 250px;
  text-align: center;
}

.line2::after {
  display: block;
  height: 20px;
  content: "60%";
  background-color: #2ecc71;
  width: 275px;
  text-align: center;
}

.line3::after {
  display: block;
  height: 20px;
  content: "5%";
  background-color: #2ecc71;
  width: 30px;
  text-align: center;
}

.line4::after {
  display: block;
  height: 20px;
  content: "40%";
  background-color: #2ecc71;
  width: 210px;
  text-align: center;
}

.line5::after {
  display: block;
  height: 20px;
  content: "30%";
  background-color: #2ecc71;
  width: 200px;
  text-align: center;
}

.skills {
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  padding-left: 75%;
}

.skill-format {
  padding-top: 15px;
}

.section-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/experience.jpg);
  background-size: cover;
  height: 200vh;
  background-position: center;
  background-attachment: fixed;
}

.company {
  color: #fff;
  text-align: center;
}

.para-1 {
  padding-right: 100px;
  text-align: center;
}

.row {
  width: 100%;
}

.row::after {
  clear: both;
  content: '';
}

.row .col-4 {
  padding-right: 1%;
  padding-left: 1%;
  float: left;
  width: 33%;
  background: red;
}

.row .col-4:first-child {
  padding-left: 2%;
}

.row .col-4:last-child {
  padding-right: 2%;
}

.mobile-nav-icon {
  float: right;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
  padding-top: 500%;
}

/*=============================================================
FORMATTING THE FORM*/
.form_format {
  margin: 0, auto;
  text-align: center;
  background-color: #C3BCB1;
  border-radius: 10px;
  max-width: 100%;
}

li {
  list-style: none;
  margin-top: 15px;
  border-bottom: 1px dashed #000;
  padding-bottom: 10px;
}

.body_form {
  background-color: #fff;
  background-size: cover;
}

.list {
  background-color: #fff;
}

.todo_html {
  background-color: #fff;
}

.input {
  margin-top: 20px;
  border: 0;
  padding: 5px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  outline: none;
}

.click_button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.delete {
  display: inline-block;
  background-color: red;
  border 1px solid black;
  width: 2.5%;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
}

/*=============================================================*/
/*----------------------------*/
/*from 1024px to 1200px*/
@media only screen and (max-width: 1200px) {
  .header {
    width: 100%;
    min-height: 130vh;
    padding-bottom: 55%;
  }

  .row {
    padding: 0 5%;
  }

  .logo-main {
    min-height: 95px;
    margin-left: 20px;
  }

  .title-info {
    font-size: 85%;
  }

  .ruse-img {
    width: 95%;
  }

  .varna-img {
    width: 95%;
  }

  .section-3 {
    padding-bottom: 70%;
  }
}

/*from 768 to 1023px*/
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  .title-info {
    font-size: 90%;
  }

  .main-nav {
    font-size: 16px;
    padding-top: 15px;
  }

  .header {
    padding-left: 8%;
    font-size: 90%;
    padding-bottom: 50%;
  }

  .logo-main {
    min-height: 70px;
  }

  .owner-footer {
    padding-right: 7%;
  }

  .footer-number {
    padding-right: 5%;
  }

  .ion-social-twitter {
    font-size: 20px;
    padding-left: 10px;
  }

  .ion-social-facebook {
    font-size: 20px;
  }

  .ion-social-googleplus {
    font-size: 20px;
  }

  .section-3 {
    font-size: 75%;
    padding-bottom: 10%;
  }

  .section-4 {
    font-size: 75%;
  }

  .owner {
    padding-right: 5%;
  }

  .social-links {
    font-size: 15px;
    padding-left: 10px;
  }
}

/*from 481 to 767px*/
@media only screen and (max-width: 767px) {
  .header {
    min-height: 150vh;
    font-size: 75%;
    padding-right: 3%;
  }

  .row {
    padding: 0 5%;
  }

  .logo-main {
    min-height: 75px;
    width: auto;
  }

  .title-info {
    font-size: 75%;
  }

  body {
    font-size: 18px;
  }

  .mobile-nav-icon {
    display: inline-block;
    position: relative;
    z-index: 9999;
  }

  .main-nav {
    float: none;
    position: absolute;
    z-index: 8888;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    margin-left: -2%;
    background-color: rgba(62, 136, 139, 0.92);
    text-align: center;
    padding-top: 20vh;
    display: none;
  }

  .main-nav li {
    display: block;
    margin-right: 40%;
    font-size: 100%;
    text-align: center;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }

  .col {
    width: 100%;
    margin: 0% 0 4% 0%;
  }

  .ruse-img {
    width: 85%;
  }

  .varna-img {
    width: 85%;
  }

  .section-3 {
    font-size: 55%;
    padding-bottom: 110%;
  }

  .skill-format .skills {
    padding: 0% 0% 0% 0%;
  }

  .section-4 {
    padding-bottom: 190%;
    font-size: 12px;
  }

  .footer-nav {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    font-size: 70%;
  }

  .personal__info {
    font-size: 70%;
  }

  .section-3 {
    font-size: 70%;
  }

  .section-4 {
    font-size: 72%;
  }
}